* {
    box-sizing: border-box;
}
body {
    height: 100%;
    background-color: #d6d4b4;
    font-family: 'Arial', sans-serif;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 22px;
    color: #333;
}

/* sizes for... */
.slider, .wrapper, .slide {
    width: 1150px;
    height: 645px;
}
.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    border-radius: 55px;
}
.wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 15px;
}
.slides {
    display: flex;
    position: relative;
    top: 0;
    left: -1150px; /*this must be same with width, for normal "jump" size*/
    width: 10000px;
}
.slides img {
    width: 100%;
}
.slides.shifting {
    transition: left 0.2s ease-out;
}
/*slide content...*/
.slide {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    background: #ffcf47;

}
/*background colors*/
.slider.loaded .slide:nth-child(1){background-color: #cad8ff;}
.slider.loaded .slide:nth-child(2) {background-color: #cad8ff;}
.slider.loaded .slide:nth-child(3) {background-color: #8c79ef;}
.slider.loaded .slide:nth-child(4) {background-color: #91dbea;}
.slider.loaded .slide:nth-child(5) {background-color: #d04168;}
.slider.loaded .slide:nth-child(6) {background-color: #473dd0;}

.control {
    position: absolute;
    top: 20%;
    width: 30px;
    height: 445px;
    color: #fdf4ff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(45, 45, 45, 0.3);
    z-index: 2;
}
.prev, .next {
    cursor: pointer;
    padding-top: 205px; /*half height - font-size*/
}
.prev {left: -1px;}
.next {right: -1px;}
.prev:active, .next:active {
    transform: scale(0.75);
}

/*dots*/
.dots-div {
    max-width: 130px;
    margin: 0 auto;
}

.dots-div ul {
    padding: 0;
    list-style: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    color: grey;
}
.dotItem {
    text-align: justify;
    font-size: 48px;
    line-height: 40px;
    margin: 0 auto;
}

.active {
    color: #3c3c3c;
}